body.About-us {
    margin: 0;
    padding: 0;
    background-image: url('/images/about-us.jpg');
    background-size: cover;
    font-family: 'Arial';
}

p {
    margin-top: 50px;
    color: rgba(7, 0, 1, 0.808);
    font-weight: 500;
    font-style: italic;
    font-weight: bolder;
    background-color: rgb(211, 211, 211, 0.6);
}

.container {
    /* clear: both; */
    margin-top: 30px;
}

.image-example {
    /* float: left; */
    background-image: url(logo.jpg);
    width: 300px;
    text-align: center;
    padding-top: 30px;
    margin: 5px 20px 10px 0;
}

h2 {
    text-align: center;
    color: rgba(211, 231, 236, 0.993);
    font-style: italic;
    font-size: xx-large;
    font-weight: bolder;
    padding: 40px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(211, 211, 211, 0.6);
    border: 1px dashed;
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
    color: rgba(96, 217, 247, 0.993);
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
    padding: 40px;
}

.center tr {
    border: 1px solid black;
    margin: 1px solid black;
}

.center tr td {
    border: 1px solid black;
}